#manager-wrap {
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#manager-wrap .item {
    padding: 10px;
    text-align: center;
}
#manager-wrap .item img {
    border: 2px solid #ddd;
    cursor: pointer;
}
#manager-wrap .item img:hover {
    border-color: #337ab7;
}
#manager-wrap .item p {
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
#manager-wrap .folder-icon {
    cursor: pointer;
}
